<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= name %></title>

<!-- 外部样式资源加载 -->
<link rel="stylesheet" href="//alinw.alicdn.com/??platform/common/s/1.1/global/global.css,uxcore/uxcore-kuma/2.0.5/orange.min.css">

<!-- 项目样式资源加载 -->
<link rel="stylesheet" href="./app.css">
<link rel="stylesheet" href="./demo.css">

<!-- 外部脚本资源加载 -->
<!--[if lte IE 9]>
<script src="//alinw.alicdn.com/platform/c/??es5-shim/4.1.12/es5-shim.min.js,es5-shim/4.1.12/es5-sham.min.js,console-polyfill/0.2.1/index.min.js,respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="//alinw.alicdn.com/platform/c/??jquery/1.11.3/dist/jquery.min.js,lodash/3.10.1/lodash.min.js,react/0.14.2/react-with-addons.min.js,react/0.14.2/react-dom.min.js,rsvp.js/3.1.0/rsvp.min.js,natty-db/0.3.16/dist/natty-db.pc.min.js,reflux/0.3.0/dist/reflux.min.js"></script>
<!-- 使用 Uxcore.Mention 时，需要引入 rangy -->
<!-- <script src="//alinw.alicdn.com/platform/c/rangy/1.3.0/rangy-core.min.js"></script> -->
<!-- 使用 Uxcore.Tinymce 或 Uxcore.Form.EditorFormField 时，需要引入 tinymce -->
<!-- <script src="//alinw.alicdn.com/platform/c/tinymce/4.2.5/tinymce-full.min.js"></script> -->
<% if (library) { %>
<!-- 项目中订制的 uxcore -->
<script src="./uxcore.js"></script>
<% } else { %>
<script src="//alinw.alicdn.com/uxcore/uxcore/0.1.4/uxcore.min.js"></script>
<% } %>
</head>
<body class="zh-cn">
<div id="App"></div>

<!-- 项目脚本资源加载 -->
<script src="./app-zh-cn.js"></script>
<script src="./demo-zh-cn.js"></script>
</body>
</html>
